@mixin screen($breakpoint) {
  @if not $breakpoint {
    @content;
  } @else {
    @media screen and (min-width: $breakpoint) {
      @content;
    }
  }
}

@mixin clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

@mixin backgroundGradient($color1, $color2 ) {
  background-image: linear-gradient(to right bottom, $color1, $color2);
  display: inline-block;
  -webkit-background-clip: text;
  color: transparent;
}