.main__section{
  display: grid;
  grid-template-columns: .9fr 5fr;
  gap: 2em;

  &-sidebar-wrapper{
    height: 85vh;
    background-color: $light-gray-1;
    flex-shrink: 0;
  }

  &-content{
    height: 85vh;
    //background-color: $color-white;
  }
}