.main__section{
  display: grid;
  grid-template-columns: .8fr 5fr;
  gap: 2em;

  &-sidebar-wrapper{
    height: 90vh;
    background-color: $light-gray-2;
    flex-shrink: 0;
  }

  &-content{
    height: 90vh;
    background-color: $color-white;
  }
}